body {
    font-family: 'Courier New', Courier, monospace;
}

/* Make content area fill the entire browser window */
html,.fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Center the content in the browser window */
.container {
    margin: auto;
    text-align: center;
}

.title {
    font-size: 3rem;
}
  
input, input:focus-visible, input:focus-within{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    color: transparent;
    background-color: transparent;
    width: 1px;
    height: 1px;
}
